
@import "../../style/size";

.sbt-package-grid {
  display: grid;
  flex-grow: 1;
  grid-template-columns: minmax(auto, 40%) 1fr 1fr 0.5fr;
  grid-template-rows: $medium;
  grid-auto-rows: auto;
  row-gap: $x-small;
  align-items: center;

  margin: 10px 0 0 15px;

  .sbt-header-item {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.sbt-package-upgrade-checkbox, .sbt-package-upgrade-checkbox > * {
  margin: 0 !important;
  padding: 0 !important;
  align-self: center;
  justify-self: center;
}

.sbt-first-column {
  grid-column: 1;
}