@import "./size";

$directions: (
  "t": (
    "top",
  ),
  "r": (
    "right",
  ),
  "b": (
    "bottom",
  ),
  "l": (
    "left",
  ),
  "v": (
    "top",
    "bottom",
  ),
  "h": (
    "left",
    "right",
  ),
);

@each $sizeName, $sizeValue in $sizes {
  .sbt-m_#{$sizeName} {
    margin-top: $sizeValue;
    margin-right: $sizeValue;
    margin-bottom: $sizeValue;
    margin-left: $sizeValue;
  }
}

@each $directionName, $directionValues in $directions {
  @each $sizeName, $sizeValue in $sizes {
    .sbt-m#{$directionName}_#{$sizeName} {
      @each $d in $directionValues {
        margin-#{$d}: $sizeValue;
      }
    }
  }
}
