$duration: 500ms;

.sbt-route-transition--enters-left {
  &-enter {
    transform: translateX(-100%);
  }
  &-enter-active {
    transform: translateX(0);
    transition: transform $duration;
  }
  &-exit {
    transform: translateX(0);
  }
  &-exit-active {
    transform: translateX(-100%);
    transition: transform $duration;
  }
}

.sbt-route-transition--enters-right {
  &-enter {
    transform: translateX(100%);
  }
  &-enter-active {
    transform: translateX(0);
    transition: transform $duration;
  }
  &-exit {
    transform: translateX(0);
  }
  &-exit-active {
    transform: translateX(100%);
    transition: transform $duration;
  }
}
