$sizes: (
  "none": 0,
  "xx-small": 2px,
  "small": 10px,
  "medium": 20px,
  "large": 50px
);

$directions: (
  "t": ("top"),
  "r": ("right"),
  "b": ("bottom"),
  "l": ("left"),
  "v": ("top", "bottom"),
  "h": ("left", "right")
);

@each $sizeName, $sizeValue in $sizes {
  .sbt-m_#{$sizeName} {
    margin-top: $sizeValue;
    margin-right: $sizeValue;
    margin-bottom: $sizeValue;
    margin-left: $sizeValue;
  }
}

@each $directionName, $directionValues in $directions {
  @each $sizeName, $sizeValue in $sizes {
    .sbt-m#{$directionName}_#{$sizeName} {
      @each $d in $directionValues {
        margin-#{$d}: $sizeValue;
      }
    }
  }
}
