@use "sass:color";
@use "~@blueprintjs/core/lib/scss/variables" as bp;

@use "./style/size";
@use "./style/transitions";
@use "./style/margin";

html,
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

#app {
  height: 100%;
}

#app-content {
  height: 100%;
  background-color: bp.$pt-app-background-color;

  .bp3-dark & {
    background-color: bp.$pt-dark-app-background-color;
  }
}

//Components
.sbt-flex-container {
  display: flex;
  align-items: center;

  .sbt-flex-item--right {
    margin-left: auto;
  }
}

.sbt-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-flow: column;
}

//Titlebar
.sbt-titlebar-container {
  display: flex;
  width: 100%;

  border-bottom: 1px solid darken(bp.$pt-app-background-color, 10%);
  background-color: lighten(bp.$pt-app-background-color, 2%);

  .bp3-dark & {
    border-bottom: 1px solid darken(bp.$pt-dark-app-background-color, 10%);
    background-color: #30404d;
  }

  .sbt-titlebar-title {
    margin: size.$medium size.$x-small size.$medium size.$medium;
  }
  .sbt-titlebar-button {
    margin: auto size.$medium auto auto;
  }
}

//OrgList
.sbt-hover-highlight:hover {
  background-color: darken(bp.$pt-app-background-color, 4%);

  .bp3-dark & {
    background-color: darken(bp.$pt-dark-app-background-color, 3%);
  }
}

.sbt-org-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.sbt-org-list--item {
  min-height: size.$large;
  h4 {
    word-break: break-all;
  }
}

.sbt-collapse-group--header {
  display: flex;
  align-items: center;
  height: 35px;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: bp.$pt-link-color;
  }

  .bp3-dark &:hover {
    color: bp.$pt-dark-link-color;
  }

  &.sbt-disabled {
    color: bp.$pt-text-color-disabled;
    cursor: default;
  }

  .bp3-dark &.sbt-disabled {
    color: bp.$pt-dark-text-color-disabled;
  }

  .sbt-chevron {
    margin-left: size.$x-small;
    margin-right: size.$x-small;
    transform: rotate(0);
    transition: transform linear 0.2s;
  }

  .sbt-chevron.sbt-open {
    transform: rotate(90deg);
  }

  .sbt-auxiliary-button {
    margin-left: auto;
    margin-right: size.$x-small;
  }
}
