@use "sass:color";
@import "~@blueprintjs/core/lib/scss/variables";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

@import "./style/transitions.scss";
@import "./style/margin.scss";

$small: 10px;
$medium: 20px;
$large: 50px;

html,
body {
  margin: 0;
  height: 100%;
}

#app {
  height: 100%;
}

#app-content {
  height: 100%;
  overflow: hidden;
  background-color: $pt-app-background-color;

  .bp3-dark & {
    background-color: $pt-dark-app-background-color;
  }
}

//Components
.sbt-flex-container {
  display: flex;

  .sbt-flex-item {
    margin: auto $medium;
  }

  .sbt-flex-item--right {
    margin: auto $medium auto auto;
  }
}

.sbt-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//Titlebar
.titlebar-container {
  display: flex;
  width: 100%;

  border-bottom: 1px solid darken($pt-app-background-color, 10%);
  background-color: lighten($pt-app-background-color, 2%);

  .bp3-dark & {
    // border-bottom: 1px solid #182026;
    border-bottom: 1px solid darken($pt-dark-app-background-color, 10%);
    background-color: #30404D;
    //background-color: lighten($pt-dark-app-background-color, 2%);
  }

  .titlebar-title {
    margin: $medium;
  }
  .titlebar-button {
    margin: auto $medium auto auto;
  }
}

//OrgList
.sbt-hover-highlight:hover {
  background-color: darken($pt-app-background-color, 4%);

  .bp3-dark & {
    background-color: darken($pt-dark-app-background-color, 3%);
  }
}
